#Footer {
    background-color: #352510;
    font-size: medium;
    font-weight: bold;
}

#Header {
    background-color: #352510;
    font-size: xx-large;
    font-weight: bold;
}

#HorizontalDiv {
    display: flex;
}

.CenteredDiv {
    text-align: center;
}

.Scores {
    width: 33%;
    font-weight: bold;
}

body {
    background-color: #352510;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

canvas {
    border: 3px solid #000000;
    /* width: 1000px;
    height: 750px; */
    image-rendering: pixelated; 
    image-rendering: crisp-edges; 
}

form {
    text-align: center;
}

html {
    background-color: black;
}

table, td {
    border: 2px ridge aliceblue;
    text-align: center;
}

td {
    background-color: rgb(106, 106, 95);
    width: 32%;
}
